<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Reimbursement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServletObj</servlet-name>
    <servlet-class>com.example.controller.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServletObj</servlet-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenseTicketServlet</display-name>
    <servlet-name>ExpenseTicketServlet</servlet-name>
    <servlet-class>com.example.controller.ExpenseTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenseTicketServlet</servlet-name>
    <url-pattern>/ExpenseTicketServlet</url-pattern>
    <url-pattern>/yup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.example.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dfgh</display-name>
    <servlet-name>dfgh</servlet-name>
    <servlet-class>asdfghj.dfgh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dfgh</servlet-name>
    <url-pattern>/dfgh</url-pattern>
  </servlet-mapping>
</web-app>